@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.display-flex{
    display: flex;
}
.brand-logo{
    font-size: 35px;
    font-weight: 800;
}
nav{
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
}

.nav-item{
    list-style: none;
    padding: 15px 30px;
    border-radius: 8px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
}

.header{
    background-color: rgba(255, 166, 0, 0.2);
    padding: 30px 0;
}

/* Hero */
.hero{
    max-width: 80%;
    margin: 0 auto;
    padding: 80px;
}
.hero-content{
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}
.hero-content p{
    color: gray;
    font-size: 16px;
}
.hero-content-title{
    font-size: 40px;
    margin: 30px 0 20px;
}
.hero img{
    width: 100%;
}
.btn-primary{
    background-color: orange;
    padding: 20px 30px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 30px 0;
    font-weight: bold;
}

/* Header Responsiveness */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
    .hero{
        max-width: 100%;
        padding: 15px;
    }
    .hero-content{
        max-width: 100%;
    }
}
/* Header ends here */

/* Team Contents start here */
.team-container{
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 80px 10px;
    gap: 30px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
    
}
.img-container img{
    width: 100%;
}
.our-feature-container{
    max-width: 500px;
}
.our-feature-container > h1{
    font-size: 45px;
    font-weight: 800;
}
.our-feature-container > p{
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.8;
    letter-spacing: 0.2cap;
}
.text-gray{
    color: gray;
}
.text-orange{
    color: orange;
}
/* Team responsiveness */
@media screen and (max-width:576px) {
    .team-container{
        flex-direction: column;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Medium Size Screen */
@media screen and (min-width:576px) and (max-width:992px) {
    .team-container{
        padding: 40px 0px;
        max-width: 90%;
    }
    .our-feature-container{
        
    }
}
/* Header ends here */